.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.menu-nav {
    // Мы сделали МЕДИА-Правило где сказано Применять эти Стили ДО!!! 767рх!
    // То есть С ЭТОГО разрешения они НЕ БУДУТ ДЕЙСВОВАТЬ! Они работают ДО!!!!
    // Значит на Планшете позициониования и прочего не будет! НИЖЕ НАПИШЕМ/ПРОДОЛЖИМ НОВЫЕ СТИЛИ КАК НАМ НАДО!!!!
    @media screen and (max-width: 767px) {
        // display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        padding: 20px 50px 20px 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: $white-color;
        // outline: 2px solid royalblue;

        border-top: 2px solid $accent-color;

        transform: scaleY(0);
        transition: transform 250ms linear;
        transform-origin: top center;
    }
    
    &.is-open {
        // display: block;
        transform: scaleY(1);
        transform-origin: top center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}