// .section-team {
//     padding-top: 94px;
//     padding-bottom: 94px;

//     background-color: #F5F4FA;;
// }

// //////////////////////////////--------------МОБИЛЬНАЯ ВЕРСИЯ----------------//////////////////////////////////////////

.section-team {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #F5F4FA;;
}