// .section-customers-title {
//     font-size: 36px;
//     line-height: 1.16;
//     text-align: center;
//     letter-spacing: 0.03em;
//     margin-bottom: 50px
// }

// //////////////////////////////--------------МОБИЛЬНАЯ ВЕРСИЯ----------------//////////////////////////////////////////

.section-customers-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media screen and (min-width: 391px) and (max-width: 435px) {
        padding-left: 25px;
        padding-right: 25px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}