// .footer-social {
//     padding-left: 120px;
//     padding-top: 12px;
// }

// .footer-social__text {
//     margin-bottom: 20px;
//     font-weight: 700;
//     font-size: 14px;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;

//     color: $white-color;
// }

// //////////////////////////////--------------МОБИЛЬНАЯ ВЕРСИЯ----------------//////////////////////////////////////////

.footer-social {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin: 0;
        padding-top: 5px;
    }

    @media screen and (min-width: 1200px) {
        align-self: flex-start;
        margin-left: 86px;
        margin-top: 12px;
        padding-top: 0;
    }
}

.footer-social__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: $white-color;
}