.footer__thumb {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
        margin-bottom: 0;
    }
}